<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <section class="index-section">
        <div class="content-container">
            <div class="button-container">
                <button class="button" onclick="window.location.href='/register'">Register</button>
                <button class="button" onclick="window.location.href='/login'">Login</button>
            </div>
        </div>
    </section>
</body>
</html>
